@(updatePassword: Form[UpdatePassword])(implicit messages: Messages, flash: Flash)

@import helper._

@main("Update password!") {

@flash.get("error").getOrElse(flash.get("success").getOrElse(""))

@if(updatePassword.hasGlobalErrors) {
<ul>
    @for(error <- updatePassword.globalErrors) {
    <li>@Messages(error.messages, error.args)</li>
    }
</ul>
}

@form(action = routes.UpdateProfileController.updatePasswordPost()) {

@inputText(updatePassword("email"), '_showConstraints -> false, '_label -> "E-Mail")
@helper.inputPassword(updatePassword("password"), '_showConstraints -> false, '_label -> "Password")
@helper.inputPassword(updatePassword("repassword"), '_showConstraints -> false, '_label -> "Re-enter Password")
<button type="submit">Update</button>

}

}